@{
    ViewBag.Title = "Phạm Quang Nhất";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>bài Lesson9 của Phạm Quang Nhất - Cam kết không đạo văn</h3>


    K22CNT1 - Môn Lập Trình Ứng Dụng Web với công nghệ Asp.Net MVC5
    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Cá Nhân:</strong> <a href="mailto:phamquangnhatdz2105@gmail.com">phamquangnhatdz2105@gmail.com</a>
    </address>
</main>